# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=FreedomCoin Core
Comment=FreedomCoin Core QT main network
GenericName=FreedomCoin Digital Currency QT client main network
Exec=freedomcoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/freedomcoin.png
MimeType=x-scheme-handler/freedomcoin;
Categories=X-Office;X-Finance;
Keywords=internet;freedomcoin;zpiv;piv;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
